<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jacob.chef">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Chef"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Bills.Bills"
            android:label="@string/title_activity_bills"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Todo.Todo"
            android:label="@string/title_activity_todo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Worker.WorkerDaysList" />
        <activity
            android:name=".Work.EditWork"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Work.ListWork"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Work.AddWork"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Worker.AddWorker"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Worker.ListWorker"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Worker.EditWorker"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>